body {
    font-family: 'Montserrat';
}

.photo2 {
    width: 93%; 
    height: 150px; 
    margin: 0 auto;
    border-radius: 25px;  
    object-fit: cover;
    display: block;
    margin-bottom: 40px;
}

.About .collapse-button, .About .collapse-content {
    background: #F7F7F7;
    border-radius: 5px;
    color: #FF6060;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    margin-top: 20px;
}

.About .collapse-button {
    background: #FF6060;
    color: white;
}

.About .About__button:hover {
    background-color: darkred;
}

.About .collapse-content {
    padding: 15px 20px;
    background-color: #F7F7F7;
    width: 80%;
    margin: 0 auto;
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    box-sizing: border-box;
}

.collapse_spaceAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .About .About__button, .About .collapse-content {
        width: 90%;
    }
}
