body {
  margin: 0 auto;
width: 100%; 
font-family: 'Montserrat';
}


.background-image {
  position: relative;
  width: 93%;
  height: 150px; 
  background: url('/Users/salzedasthierry/Desktop/Formation OC/kasa_p8/kasa/src/assets/data/Photo1_page-0001.jpg') no-repeat center center; 
  background-size: cover;
  margin: 2% auto 0 auto;
  border-radius: 25px;
  filter: brightness(80%);
}

.overlay-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 25px;
}

.logements-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 2% auto 0 auto;
  padding: 2%; 
  background: #F7F7F7;
  border-radius: 25px;
  width: 90%;
}

@media (max-width: 768px) {
  .logements-container {
    grid-template-columns: 1fr;
  }
}


.logement {
  position: relative;
}

.logement img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.logement h2 {
  position: absolute;
  bottom: 1px;
  left: 10px;
  color: white;
  padding: 10px;
  font-size: 15px;
}







  
