body {
    font-family: 'Montserrat';
}

.NotFound__content {
    text-align: center;
  
    color: red;
}

.NotFound__content h1 {
    color: red;
    font-size: 8em;
    font-weight: 900;
}

.NotFound__content p {
    font-size: 1.5em;
}

.NotFound__content a {
    color: red;
    text-decoration: underline;
}
